{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <div>
        <!-- header -->
        {{ parent() }}
        <!-- header -->
    </div>
    </body>
{% endblock %}
{% block footer %}{% endblock %}
